# created by virtualenv automatically

*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Config File
webserver_infra/config/config.json
